# set provider in config/settings.yaml to openrouter.

# USED this for testing and DEMO
OPENROUTER_API_KEY=[]

# NOT USED, If needed plugin key and also change provider in config/settings.yaml to openai
OPENAI_API_KEY=[Not Used]

# NOT USED (this is set in settings.yaml)
OPENROUTER_MODEL=google/gemma-4-26b-a4b-it
# WEATHER_API_BASE_URL=https://api.weatherapi.com/v1
